<!doctype html>
<html>

<head>

  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>Choices</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>

  <div id="app">{{ html|safe }}</div>

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/js/vendor.js" type="text/javascript"></script>
<script src="/js/vendor.bundle.js" type="text/javascript"></script>
<script src="/js/bundle.js" type="text/javascript"></script>
</body>

</html>
